@keyframes heart_ani {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes count-heart {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate_ {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
