@import './reset';
@import './fonts';
@import './keyframe';

.container {
  max-width: 1330px;
  margin: auto;
  padding: 0 1.5rem;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.m {
  &__0 {
    margin: 0;
  }
}

.no__data {
  display: block;
  margin: auto;
}
