@import './reset';
@import './fonts';
@import './keyframe';

@import './pages/index';
@import './pages/admin/index';

img {
  max-width: 100%;
}

.container {
  max-width: 1330px;
  margin: auto;
  padding: 0 1.5rem;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.m {
  &__0 {
    margin: 0;
  }
}

.no__data {
  display: block;
  margin: auto;
}

.w-full {
  width: 100%;
}

.table {
  &__avatar {
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

.hidden {
  display: none;
}
.disabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}
