@import "../ant-design/index";

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: unset;
}

#components-layout-demo-side {
  .header-admin {
    background-color: #fff;
    padding: 2rem;
    height: auto;
    line-height: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 8rem;
    margin: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      object-fit: contain;
      height: 8rem;
      object-position: center;
    }
  }

  .admin-content {
    margin: 2rem;
  }

  .ant {
    &-card {
      border-radius: 1rem;
      background-color: #fff;
    }

    &-layout {
      background: transparent;

      &-sider {
        background-image: linear-gradient(
          to top,
          #2cd8d5 0%,
          #6b8dd6 48%,
          #8e37d7 100%
        );

        &-trigger {
          color: #fff;
          background-image: linear-gradient(to left, #02a8d7 0%, #0858d5 100%);
        }
      }

      &-footer {
        background-color: #fff;
      }
    }

    &-menu {
      background: transparent;

      &-item {
        &-selected {
          background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        }

        > a {
          color: #fff;
        }
      }

      &-submenu {
        &-popup {
          background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        }
      }

      &-dark {
        background-color: transparent;
      }

      &-sub {
        background-color: transparent;
      }
    }

    &-btn {
      &-primary,
      &__status {
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
      }
    }

    &-tag {
      &__delete {
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
      }
    }
  }

  .anticon[tabindex] {
    font-size: 2.5rem;

    &:hover {
      color: #04befe;
    }
  }
}

@media (max-width: 677px) {
  .ant-layout-sider {
    transition: 0.3s all;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    box-shadow: 7px 0px 3px 4px #00000012;

    &.isMobile {
      transition: 0.3s all;
      transform: translateX(-200%);
      max-width: 0px !important;
      width: 0 !important;
      flex: 0 !important;
      min-width: 0 !important;
      height: auto;
      box-shadow: unset;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  #components-layout-demo-side {
    .header-admin {
      padding: 0 2rem;
    }

    .logo {
      margin: 0;
    }
  }
}

@media (min-width: 678px) {
  #components-layout-demo-side {
    .header-admin {
      .logo {
        display: none;
      }
    }
  }
}

@media (max-width: 430px) {
  .ant-card-head-wrapper {
    .ant-card-extra {
      button {
        span {
          display: none;
        }
      }
    }
  }

  #components-layout-demo-side {
    .admin-content {
      margin: 1.5rem;
    }
  }

  .ant-drawer-content-wrapper {
    max-width: 310px;
  }
  .ant-card-body {
    padding: 1.5rem;
  }
}
