@import "../ant-design/index";

#components-layout-demo-side {
  .header-admin {
    background-color: #fff;
    padding: 2rem;
    height: auto;
    line-height: unset;
    display: flex;
    align-items: center;
  }

  .logo {
    height: 8rem;
    margin: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      object-fit: contain;
      height: 8rem;
      object-position: center;
    }
  }

  .admin-content {
    margin: 2rem;
  }

  .ant {
    &-card {
      border-radius: 1rem;
      background-color: #fff;
    }

    &-layout {
      background: transparent;

      &-sider {
        background-image: linear-gradient(
          to top,
          #2cd8d5 0%,
          #6b8dd6 48%,
          #8e37d7 100%
        );

        &-trigger {
          color: #fff;
          background-image: linear-gradient(to left, #02a8d7 0%, #0858d5 100%);
        }
      }

      &-footer {
        background-color: #fff;
      }
    }

    &-menu {
      background: transparent;

      &-item {
        &-selected {
          background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        }

        > a {
          color: #fff;
        }
      }

      &-submenu {
        &-popup {
          background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        }
      }

      &-dark {
        background-color: transparent;
      }

      &-sub {
        background-color: transparent;
      }
    }

    &-btn {
      &-primary,
      &__status {
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
      }
    }

    &-tag {
      &__delete {
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
      }
    }
  }

  .anticon[tabindex] {
    font-size: 2.5rem;

    &:hover {
      color: #04befe;
    }
  }
}

@media (max-width: 677px) {
  .ant-layout-sider {
    &.isMobile {
      transform: translateX(-100%);
      max-width: 0px !important;
      width: 0 !important;
      flex: 0 !important;
    }
  }
}
