#components-layout-demo-side {
  .header-admin {
    background-color: #fff;
    padding: 2rem 1.5rem;
    height: auto;
    line-height: unset;
  }

  .logo {
    height: 8rem;
    margin: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      object-fit: contain;
      height: 8rem;
      object-position: center;
    }
  }

  .admin-content {
    margin: 30px;
    padding: 15px;
    background-color: #fff;
  }
}
