.album {
  padding: 7rem 0;

  background-color: #13ef1b12;

  .album__header {
    text-align: center;
    color: #000;
    margin-bottom: 5rem;

    .album__title {
      font-size: 5rem;
      font-weight: bold;
    }
  }

  .album__module {
    .gallery {
      columns: 4;
      column-gap: 1.5rem;

      .gallery__item {
        width: 100%;
        margin-bottom: 1.5rem;
        break-inside: avoid;
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem;

        .gallery__img {
          display: flex;
        }

        .gallery__box {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 1rem;
          color: #fff;
          background: radial-gradient(circle at center, transparent, #00000053);
          display: flex;

          .gallery__content {
            margin-top: auto;

            .gallery__title {
              font-size: 2.5rem;
              text-transform: capitalize;
              margin-bottom: 0.5rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .gallery__desc {
              line-height: 1.8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .album {
    .album__module {
      .album__gallery {
        columns: 3;
      }
    }
  }
}

@media (max-width: 768px) {
  .album {
    .album__module {
      .album__gallery {
        columns: 2;
      }
    }
  }
}

@media (max-width: 480px) {
  .album {
    .album__module {
      .album__gallery {
        columns: 1;
      }
    }
  }
}
