.audio {
  position: fixed;
  left: 1.5rem;
  bottom: 100px;
  z-index: 9999;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000;

  audio {
    transform: scale(0);
  }
}
