.btn {
  &__logout {
    cursor: pointer;

    font-size: 2rem;
    background-color: transparent;
    margin-left: auto;
    color: #2196f3;

    &:hover {
      color: rgb(0, 161, 248);
    }
  }
}
