.menu__panel {
  margin-bottom: 1rem;

  .ant-collapse-header {
    background-image: linear-gradient(
      to right,
      #2cd8d5 0%,
      #6b8dd6 48%,
      #8e37d7 100%
    );
    color: #fff !important;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    padding: 0.8rem 1.6rem;
  }

  .ant-collapse-content {
    border-top: 1px solid transparent;
  }
}

.ant-collapse {
  border: 1px solid #1890ff !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 0px;
}

.form__footer {
  display: flex;
  gap: 2rem;
}

.btn__update {
  margin-right: 1.5rem;
}
