.album {
  padding: 7rem 0;

  background-color: #13ef1b12;

  .album__header {
    text-align: center;
    color: #000;
    margin-bottom: 5rem;

    .album__title {
      font-size: 5rem;
      font-weight: bold;
    }
  }

  .album__module {
    .gallery {
      columns: 4;
      column-gap: 1.5rem;

      .gallery__item {
        width: 100%;
        margin-bottom: 1.5rem;
        break-inside: avoid;
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem;

        &:hover {
          .gallery__img {
            animation: imageScale 5s infinite;
            animation-direction: alternate-reverse;
          }
        }

        .gallery__img {
          display: flex;
        }

        .gallery__box {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 1rem;
          color: #fff;
          background: radial-gradient(circle at center, transparent, #00000053);
          display: flex;

          .gallery__content {
            margin-top: auto;

            .gallery__title {
              font-size: 2.5rem;
              text-transform: capitalize;
              margin-bottom: 0.5rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .gallery__desc {
              line-height: 1.8rem;
            }
          }
        }
      }
    }
  }

  .album__show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .module {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      z-index: 99999;
      min-width: 320px;
      min-height: 200px;
      padding: 1.5rem;

      img {
        max-height: 90vh;
      }
    }
  }
}

@media (max-width: 1200px) {
  .album {
    .album__module {
      .album__gallery {
        columns: 3;
      }
    }
  }
}

@media (max-width: 1100px) {
  .album {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .album {
    padding-top: 4.5rem;

    .album__module {
      .gallery {
        columns: 3;
      }
    }

    .album__header {
      margin-bottom: 3rem;

      .album__title {
        font-size: 3.5rem;
      }
    }
  }
}

@media (max-width: 399px) {
  .album {
    padding: 3rem 0;

    .album__module {
      .gallery {
        columns: 2;
      }
    }
  }
}
