.wedding-getting {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7rem 0 9rem;
  position: relative;

  .header-count-down {
    margin-bottom: 10rem;
    .title {
      margin-bottom: 7.2rem;
      font-size: 4rem;
      color: #202a41;
      position: relative;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('~/assets/images/bg_name_c.png') no-repeat;
        background-size: contain;
        background-position: center;
        width: calc(100% + 4rem);
        height: calc(100% + 3rem);
      }
    }
  }

  .page-w {
    text-align: center;
    margin-bottom: 5rem;

    h3 {
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: #333;

      font-size: 4rem;
    }

    .info {
      font-size: 2.5rem;
      color: #000;
    }
  }
}

.count-down {
  .vuejs-countdown {
    display: flex;
    justify-content: center;

    li {
      width: 18rem;
      color: #f88dbd;
      margin: 0;

      animation: count-heart 3s infinite;
      animation-direction: alternate-reverse;

      .text {
        color: #fff;
        position: relative;

        &::before {
          position: absolute;
          color: #f88dbd;
          font-size: 1.7rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:nth-child(1) {
        .text {
          &::before {
            content: 'Ngày';
          }
        }
      }

      &:nth-child(2) {
        .text {
          &::before {
            content: 'Giờ';
          }
        }
      }

      &:nth-child(3) {
        .text {
          &::before {
            content: 'Phút';
          }
        }
      }

      &:nth-child(4) {
        .text {
          &::before {
            content: 'Giây';
          }
        }
      }

      &::after {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 8rem);
        height: calc(100% + 8rem);
        background: url('~/assets/images/love.png') no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

@media (max-width: 992px) {
  .wedding-getting {
    overflow: hidden;
    padding: 7rem 0 6rem;
  }

  .count-down {
    .vuejs-countdown {
      column-gap: 1.5rem;
      li {
        width: 11rem;

        &::before {
          width: calc(100% + 5rem);
          height: calc(100% + 5rem);
        }
      }
    }

    .digit {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 767.98px) {
  .wedding-getting {
    .header-count-down {
      margin-bottom: 6rem;

      .title {
        font-size: 3.5rem;
        margin-bottom: 4rem;

        &::before {
          width: 78%;
        }
      }
    }

    .page-w {
      h3 {
        font-size: 3rem;
      }

      .info {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 599px) {
  .wedding-getting {
    padding: 5rem 0;

    .header-count-down {
      .title {
        &::before {
          width: 93%;
        }
      }
    }
  }

  .count-down {
    .vuejs-countdown {
      flex-wrap: wrap;

      li {
        margin-bottom: 7rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 399px) {
  .wedding-getting {
    padding: 3rem 0;

    .header-count-down {
      .title {
        font-size: 3.5rem;
        padding: 0 17px;
        line-height: 5rem;

        &::before {
          top: 0%;
          left: 90%;
          transform: translate(-50%, -50%) rotate(45deg);
          background-size: 15%;
          width: 168%;
          height: 100%;
        }
      }
    }
  }

  .count-down {
    .vuejs-countdown {
      li {
        &:last-child {
          margin-bottom: 7rem;
        }
      }
    }
  }
}
