.wedding-getting {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7rem 0 9rem;
  position: relative;

  .header-count-down {
    margin-bottom: 10rem;
    .title {
      margin-bottom: 7.2rem;
      font-size: 4rem;
      color: #202a41;
      position: relative;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('~/assets/images/bg_name_c.png') no-repeat;
        background-size: contain;
        background-position: center;
        width: calc(100% + 4rem);
        height: calc(100% + 3rem);
      }
    }
  }

  .page-w {
    text-align: center;
    margin-bottom: 5rem;

    h3 {
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: #333;

      font-size: 4rem;
    }

    .info {
      font-size: 2.5rem;
      color: #000;
    }
  }
}

.count__down--cunstome {
  .flip-card__top[data-v-b6b5360c],
  .flip-card__bottom[data-v-b6b5360c],
  .flip-card__back-bottom[data-v-b6b5360c],
  .flip-card__back[data-v-b6b5360c]::before,
  .flip-card__back[data-v-b6b5360c]::after {
    background: linear-gradient(
      to bottom,
      rgb(244, 196, 243),
      rgb(252, 103, 250)
    );
    color: #fff;
  }

  .flip-clock__slot {
    display: none;
  }

  .flip-card__bottom[data-v-b6b5360c],
  .flip-card__back-bottom[data-v-b6b5360c],
  .flip-card__bottom-4digits[data-v-b6b5360c],
  .flip-card__back-bottom-4digits[data-v-b6b5360c] {
    border-top: solid 1px #ce93d8;
  }

  .flip-clock__piece[data-v-b6b5360c] {
    padding-bottom: 1.2rem;

    .flip-clock__slot {
      color: transparent;
      position: relative;

      &::after {
        content: '';
        color: #000;
        font-size: 22px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:nth-child(1) {
      .flip-clock__slot {
        &::after {
          content: 'Ngày';

          top: 0;
          right: 0;
        }
      }
    }

    &:nth-child(2) {
      .flip-clock__slot {
        &::after {
          content: 'Giờ';
        }
      }
    }

    &:nth-child(3) {
      .flip-clock__slot {
        &::after {
          content: 'Phút';
        }
      }
    }

    &:nth-child(4) {
      .flip-clock__slot {
        &::after {
          content: 'Giây';
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .count__down--cunstome {
    .flip-card[data-v-b6b5360c] {
      font-size: 5rem;
    }
  }
}

@media (max-width: 992px) {
  .wedding-getting {
    overflow: hidden;
    padding: 7rem 0 6rem;
  }
}

@media (max-width: 767.98px) {
  .wedding-getting {
    .header-count-down {
      margin-bottom: 6rem;

      .title {
        font-size: 3.5rem;
        margin-bottom: 4rem;

        &::before {
          width: 78%;
        }
      }
    }

    .page-w {
      h3 {
        font-size: 3rem;
      }

      .info {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 599px) {
  .wedding-getting {
    padding: 5rem 0;

    .header-count-down {
      .title {
        &::before {
          width: 93%;
        }
      }
    }
  }
}

@media (max-width: 399px) {
  .wedding-getting {
    padding: 3rem 0;

    .header-count-down {
      .title {
        font-size: 3.5rem;
        padding: 0 17px;
        line-height: 5rem;

        &::before {
          top: 0%;
          left: 90%;
          transform: translate(-50%, -50%) rotate(45deg);
          background-size: 15%;
          width: 168%;
          height: 100%;
        }
      }
    }
  }
}
