.header {
  text-align: center;
  padding-top: 4.6rem;

  &__logo {
    &--group {
      color: #202a41;
      font-size: 4.5rem;
      margin: 0 0 0.5em;
    }
  }
}

.just-married {
  color: #797979;
  font-weight: 300;
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
  letter-spacing: 0.2rem;
  position: relative;

  &::before {
    content: '';
    background: rgb(236, 233, 233);
    width: 3.5rem;
    height: 0.1rem;
    position: absolute;
    left: -5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    background: rgb(236, 233, 233);
    width: 3.5rem;
    height: 0.1rem;
    position: absolute;
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon_heart {
  color: red;

  svg {
    animation: 2s heart_ani forwards;
  }
}

@media (max-width: 1366px) {
  .header {
    padding-top: 3rem;

    &__logo {
      &--group {
        margin: 0;
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 767.99px) {
  .header__logo--group {
    font-size: 3.5rem;
  }
}

@media (max-width: 479px) {
  .header {
    &__logo {
      &--group {
        font-size: 2.8rem;
      }
    }
  }

  .just-married {
    margin-top: 1rem;
  }
}
