.love__story {
  padding: 7rem 0;
  background-color: #efefef;

  &--header {
    color: #000;
    text-align: center;
    max-width: 42%;
    width: 100%;
    margin: 0px auto 10rem auto;
  }

  &--title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.love__story--content {
  max-width: 945px;
  margin: auto;
  margin-bottom: 2rem;

  .love__group {
    position: relative;

    border-radius: 20px;
    overflow: hidden;
    padding: 3rem 0;
    background-color: #fff;
    border: 1px #ed0d01;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      z-index: 1;
    }

    &::before {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3px;
      animation: hearH 5s infinite;
      animation-delay: 1s;
      animation-duration: alternate-reverse;
      background-color: #ed0d01;
    }

    &::after {
      bottom: 1.5rem;
      left: 50%;

      width: 5rem;
      height: 5rem;
      z-index: 1;
      background: url("~/assets/images/hear.png") no-repeat;
      object-position: center;

      background-size: contain;
      border-radius: 50%;
      animation: hear 5s infinite;
      animation-direction: alternate-reverse;
    }

    &--item {
      padding: 3rem 0;
      background-color: #fff;
      display: flex;
      position: relative;

      .love__group--avatar {
        position: relative;
        overflow: hidden;
        padding: 1.5rem;
        border-radius: 2rem;
        max-width: calc(50% - 4rem);
        width: 100%;
        margin: auto;
        border: 1px solid #ed0d01;

        .love__image {
          width: 100%;
          border-radius: 1.5rem;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 5rem;
        height: 5rem;
        z-index: 1;
        background: url("~/assets/images/hear.png") no-repeat;
        object-position: center;

        background-size: contain;
        border-radius: 50%;
        animation: hear 5s infinite;
        animation-direction: alternate-reverse;
      }

      .love__group--header {
        margin-bottom: 1.5rem;
      }

      .love__group--context {
        text-align: justify;
        padding: 2rem;
      }

      &:nth-child(odd) {
        .love__group--header {
          text-align: right;
        }
      }

      &:nth-child(even) {
        .love__group--context {
          order: 2;
        }

        .love__group--avatar {
          order: 1;
        }
      }

      &:first-child {
        border-top: 0;
        &::before {
          top: -15px;
        }

        &::after {
          display: none;
        }
      }
    }

    &--context {
      color: #000;
    }

    &--title {
      font-size: 2.8rem;
      font-weight: bold;
      margin-bottom: 1.2rem;
      color: #ed0d01;
      text-transform: uppercase;
    }

    &--context,
    &--avatar {
      position: relative;
      z-index: 3;
      width: 50%;
    }

    .love {
      &__time {
        font-size: 1.8rem;
        color: #ed0d01;
        font-weight: bold;
      }
    }

    &--desc {
      font-size: 1.4rem;
      line-height: 2rem;
      color: #111;
      padding: 2rem 0;
      line-height: 2.4rem;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 423px;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }
}

@media (max-width: 910px) {
  .love__story {
    padding: 5rem 0;

    &--header {
      margin: 0px auto 5rem auto;
      max-width: 100%;
    }

    &--info {
      max-width: 80%;
    }

    &--content {
      .love__group--item {
        &::after {
          transform: translateX(-50%) rotate(42deg);
        }
      }
    }
  }
}

@media (max-width: 767.99px) {
  .love__story {
    &--title {
      font-size: 3.5rem;
    }

    &--content {
      .love__group {
        &::before,
        &::after {
          display: none;
        }

        &--item {
          padding: 0;

          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 688px) {
  .love__story {
    padding: 3rem 0rem;

    &--content {
      .love__group {
        padding: 0;
        box-shadow: unset;
        background-color: transparent;

        &--item {
          flex-direction: column;
          margin-bottom: 2rem;
          border-radius: 1.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          &:nth-child(odd) {
            .love__group {
              &--header {
                text-align: left;
              }

              &--context {
                order: 2;
              }

              &--avatar {
                margin-left: 0;
              }
            }
          }

          .love__group--avatar {
            width: 100%;
            padding: unset;
            max-width: 100%;

            .love__image {
              position: relative;
            }
          }
        }

        &--context {
          width: 100%;
        }

        &--title {
          font-size: 1.7rem;
        }
      }
    }
  }
}
