.sidebar-banner {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 83vh;
    background: radial-gradient(circle at center, transparent, #00000053);
    z-index: 2;
  }

  .slide__item {
    .ration {
      width: 100%;
      height: 83vh;
      position: relative;
      overflow: hidden;
      z-index: 4;

      .ration__link {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: top center;
      }
    }
  }

  .slide__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 5;

    .slide__title {
      color: #fff;
      text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
      font-size: 6rem;

      .icon__heart {
        color: #f88b8b;

        svg {
          animation: heart_ani 1s infinite;
          animation-direction: alternate-reverse;
        }
      }
    }

    .date {
      color: #fff;
      margin: 5rem 0;
      display: inline-flex;
      font-size: 2rem;
      justify-content: center;
      position: relative;

      &::before {
        content: '';
        background: rgb(255, 255, 255);
        width: 3.5rem;
        height: 0.1rem;
        position: absolute;
        left: -5rem;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: '';
        background: rgb(255, 255, 255);
        width: 3.5rem;
        height: 0.1rem;
        position: absolute;
        right: -5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .slick-dots {
    bottom: 3.6rem;
    z-index: 4;

    li {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: #000;
      opacity: 0.3;

      &.slick-active {
        background-color: #f88b8b;
        opacity: 1;
      }

      button {
        display: none;
      }
    }
  }
}

@media (max-width: 1366px) {
  .sidebar-banner {
    &::before {
      padding-top: 60vh;
    }
    .slide__item {
      .ration {
        height: 60vh;
      }
    }
  }
}

@media (max-width: 992px) {
  .sidebar-banner {
    &::before {
      padding-top: 45vh;
    }
    .slide__item {
      .ration {
        height: 45vh;
      }
    }
  }
}
